.form-container {
  background-color: var(--white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 32px 24px;
  display: grid; /*repeated elsewhere*/
  grid-template-columns: 1fr; /*repeated elsewhere*/
  gap: 32px; /*repeated elsewhere*/
}

.bill-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

label {
  display: block;
  position: relative;
}

.input-heading {
  color: var(--grey-500);
  margin-bottom: 8px;
}

/* Input elements */
.user-input {
  width: 100%;
  color: var(--green-900);
  text-align: right;
  background-repeat: no-repeat;
  background-position: left 16px center;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--grey-50);
}

.user-input:focus {
  outline: 2px solid var(--green-400);
}

.user-input:user-invalid {
  outline: 2px solid var(--orange-400);
}

#cost-amount {
  background-image: url(assets/icon-dollar.svg);
}

#number-of-people {
  background-image: url(assets/icon-person.svg);
}

.people-input-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 8px; */
}

.error-msg {
  color: var(--orange-400);
}

.hidden {
  display: none;
}

/* Tip selection grid */

ul {
  padding-left: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 16px;
  font-size: 24px;
  margin: 0;
}

li {
  width: 100%;
}

button {
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: var(--green-900);
  border-radius: 5px;
  padding: 6px 16px;
}

button:hover {
  background-color: var(--green-200);
  color: var(--black);
}

#custom-btn {
  background-color: var(--grey-50);
  color: var(--grey-550);
}

.active {
  background-color: var(--green-400);
  color: var(--black);
}

/* Output section */

#output-container {
  background-color: var(--green-900);
  border-radius: 15px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
}

.output-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-text-amount {
  color: var(--white);
}

.output-text-unit {
  color: var(--grey-400);
}

.output-number {
  color: var(--green-400);
}

/* Reset button */

.reset-btn {
  background-color: var(--green-400);
  color: initial;
  min-width: 281px;
  height: 48px;
}

.reset-btn:hover {
  background-color: var(--green-200);
}

@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-container {
    padding: 48px 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 608px;
  }

  .reset-btn {
    min-width: 362px;
  }
  #output-container {
    padding-inline: 32px;
  }

  .output-number {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .form-container {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 32px;
    max-width: 920px;
  }

  .reset-btn {
    max-width: 333px;
  }

  #output-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38px 32px 24px 32px;
  }
}
